{% extends 'base-frontend.html.twig' %}

{% block title %}Secteurs{% endblock %}

{% block body %}
<h1>Nos secteurs:</h1>
<hr>
Technologie
<hr>
Médias et divertissement
<hr>
Télécommunications
<hr>
Constructions
<hr>
Immobilier
<hr>
Hôtellerie et restauration
{% endblock %}
