{% extends 'base-frontend.html.twig' %}

{% block title %}Mentions légales et confidentialité{% endblock %}

{% block body %}
<h1 id="top">Mentions légales et confidentialité</h1>
<h2>Politique en matière de cookies</h2>
<ul>
    <li>Que sont les balises Web?</li>
    <li>Qu'est-ce qu'un cookie ?</li>
    <li>Quels types de cookies utilisons-nous ?</li>
    <li>Comment contrôler ou supprimer les cookies</li>
    <li>Cookies qui ont été définis dans le passé</li>
    <li>Modifications de cette politique en matière de cookies</li>
</ul>
Dernière mise à jour : décembre 2022
<p class="text">Ce site Web « verexao.com » et le portail My Verex (appelés conjointement ou séparément « le site Web ») utilisent des cookies, des balises pixel, des balises Web et d'autres technologies Web telles que les CAPTCHA pour améliorer les performances du site Web et améliorer votre navigation. expérience et pour protéger le site Web contre les robots spammeurs. Certaines zones du site Web utilisent également des cookies pour mieux vous connaître, afin que nous puissions vous offrir une expérience de navigation plus personnalisée. Nous utilisons un simple compteur, sans stocker aucune information sur votre appareil, pour compter le nombre de visiteurs qui acceptent ou refusent nos cookies.

Vous pouvez en savoir plus sur les cookies et comment les gérer dans les informations ci-dessous. Vous pouvez modifier vos paramètres de cookies et désactiver tout ou partie des cookies du site Web à tout moment sur https://www.verexao.com/en_gl/cookie-settings. Vous pouvez également modifier les paramètres de votre navigateur afin que les cookies ne puissent pas être placés sur votre appareil.

Si vous avez des questions concernant les cookies que nous utilisons, veuillez nous contacter.</p>

<h2>Que sont les balises Web?</h2>
<p class="text">Verex fait occasionnellement de la publicité sur des sites Web tiers. Dans le cadre de nos efforts pour suivre le succès de nos campagnes publicitaires, nous pouvons parfois utiliser une technologie d'identification des visiteurs telle que des « balises Web » ou des « balises d'action », qui comptent les visiteurs qui sont venus sur le site Web après avoir été exposés à un Bannière publicitaire Verex sur un site tiers. Nous n'utilisons pas cette technologie pour accéder à vos informations personnelles et elle est uniquement utilisée pour compiler des statistiques agrégées sur les visiteurs qui accèdent au site Web afin d'évaluer l'efficacité de nos publicités.
<a href="#top">Retour au sommet</a></p>

<h2>Qu'est-ce qu'un cookie ?</h2>
<p class="text">Un « cookie » est une technologie qui permet au site Web de stocker des jetons d'informations (un « identifiant ») dans votre navigateur utilisé par le site Web lorsque vous êtes sur le site Web. Les cookies sont ensuite renvoyés au site Web à chaque visite ultérieure, ou à une autre page Web qui reconnaît ce cookie. Les cookies sont utilisés pour faire fonctionner le site Web ou pour le rendre plus efficace, ainsi que pour fournir des informations aux propriétaires du site Web.

Les cookies effectuent de nombreuses tâches différentes, comme vous permettre de naviguer efficacement entre les pages, mémoriser vos préférences et, de manière générale, améliorer l'expérience utilisateur. Les cookies peuvent nous indiquer, par exemple, si vous avez déjà visité le site Web ou si vous êtes un nouveau visiteur. Ils peuvent également contribuer à garantir que les publicités que vous voyez en ligne sont plus pertinentes par rapport à vous et à vos intérêts.

Lorsque vous accédez au site Web, vous avez la possibilité d'accepter les cookies utilisés sur le site Web, d'accepter certaines catégories de cookies et d'en refuser d'autres, ou de refuser tous les cookies. Si vous avez accepté notre utilisation de tout ou partie des cookies, les informations suivantes concernent uniquement les cookies utilisés sur le site Web. Veuillez noter que tout consentement à accepter ou à refuser les cookies est limité au site Web ey.com et au portail MyVerex uniquement et non aux autres sites Verex locaux ou à toute autre page pouvant contenir un lien hypertexte vers notre site Web ou notre portail. Pour plus d'informations sur les cookies utilisés par ces sites Web, veuillez vous référer à l'avis de confidentialité spécifique ou à la politique en matière de cookies de ces sites Web. Si vous avez des questions, veuillez nous contacter.
Il existe deux grandes catégories de cookies :

Cookies de première partie, déposés directement par nous sur votre appareil.
Cookies tiers, qui sont servis par un tiers en notre nom.
Les cookies peuvent rester sur votre ordinateur ou appareil mobile pendant différentes périodes. Certains cookies sont des « cookies de session », ce qui signifie qu'ils n'existent que lorsque votre navigateur est ouvert. Ceux-ci sont automatiquement supprimés une fois que vous fermez votre navigateur. D'autres cookies sont des « cookies permanents », ce qui signifie qu'ils survivent après la fermeture de votre navigateur. Ils peuvent être utilisés par le site Web pour reconnaître votre ordinateur lorsque vous ouvrez votre navigateur et naviguez à nouveau sur Internet.

Ne pas suivre/Contrôle global de la confidentialité

Si nous détectons que vous avez activé le paramètre Do Not Track ou le signal Global Privacy Control dans votre navigateur, nous désactiverons automatiquement les cookies de marketing/ciblage.

<a href="#top">Retour au sommet</a></p>

<h2>Quels types de cookies utilisons-nous ?</h2>
<p class="text">Le site Web utilise des cookies qui remplissent quatre fonctions, classées ci-dessous :

Cookies essentiels/strictement nécessaires, qui sont essentiels au fonctionnement du site Internet.
Cookies de performance, qui nous aident à mesurer les performances du site Web et à améliorer votre expérience. En utilisant des cookies de performance, nous ne stockons aucune donnée personnelle et utilisons uniquement les informations collectées via ces cookies sous forme agrégée et anonymisée ;
Les cookies de fonctionnalité, qui nous permettent d'améliorer votre expérience (par exemple en mémorisant les paramètres que vous avez éventuellement sélectionnés) ; et
Cookies de marketing/ciblage, que nous utilisons pour suivre l'activité et les sessions des utilisateurs afin que nous puissions fournir un service plus personnalisé. Les cookies marketing sont définis par des tiers avec lesquels nous exécutons des campagnes marketing et nous permettent de vous proposer des informations marketing pertinentes. Si vous vous identifiez auprès de nous (par exemple en remplissant un formulaire/en vous inscrivant pour recevoir des mises à jour par courrier électronique), Verex collecte des informations sur votre réponse à nos communications marketing et votre activité sur ce site Web. Ces informations sont ajoutées à votre profil marketing personnel et à votre score qui sont utilisés pour mesurer l'efficacité de la campagne et pour fournir du contenu et proposer des services qui vous conviennent.
<hr>
De plus, nous utilisons également des cookies sur certaines pages du site Web pour communiquer avec des fournisseurs de données tiers afin d'extrapoler votre comportement numérique. Cela nous aide à comprendre et à cibler des publicités plus pertinentes à l'avenir. Les informations que nous recevons sont toutes globales et anonymes, mais incluront des statistiques telles que les données démographiques, le comportement en ligne, les intérêts en matière de produits et le style de vie. Les cookies de ciblage et de suivi sont fournis via des fournisseurs tiers de confiance. Si vous avez besoin de plus d'informations sur nos fournisseurs et sur le fonctionnement de ces cookies, veuillez nous contacter.
Le site déploie les cookies suivants :

<a href="#top">Retour au sommet</a></p>

<h2>Comment contrôler ou supprimer les cookies</h2>
<p class="text">
Vous avez le droit de choisir d’accepter ou non les cookies et nous vous expliquons ci-dessous comment exercer ce droit. Veuillez toutefois noter que si vous choisissez de refuser les cookies, vous ne pourrez peut-être pas utiliser toutes les fonctionnalités du site Web.

Vous pouvez modifier vos paramètres de cookies à tout moment sur https://www.verexaocom/en_gl/cookie-settings.
Alternativement, vous pouvez bloquer tous les cookies en activant le paramètre de votre navigateur qui vous permet de refuser le paramétrage de tout ou partie des cookies. Cependant, si vous utilisez les paramètres de votre navigateur pour bloquer tous les cookies (y compris les cookies essentiels), vous ne pourrez peut-être pas accéder à tout ou partie de notre site.

Si vous acceptez tout ou partie des cookies sur le site Web, vous avez toujours la possibilité de configurer votre navigateur pour qu'il vous avertisse lorsque vous recevez un cookie, afin que vous puissiez déterminer si vous l'acceptez ou non.

<a href="#top">Retour au sommet</a></p>


<h2>Cookies qui ont été définis dans le passé</h2>
<p class="text">
Si vous avez désactivé un ou plusieurs cookies, nous pouvons toujours utiliser les informations collectées à partir des cookies avant que votre préférence de désactivation ne soit définie ; cependant, nous cesserons d'utiliser le cookie désactivé pour collecter des informations supplémentaires.

<a href="#top">Retour au sommet</a></p>

<h2>Modifications de cette politique en matière de cookies</h2>
<p class="text">
Nous mettrons occasionnellement à jour cette politique en matière de cookies pour refléter les changements dans nos pratiques et services. Lorsque nous publierons des modifications à cette politique en matière de cookies, nous réviserons la date de « Dernière mise à jour » en haut de cette politique en matière de cookies. Si nous apportons des modifications importantes à la manière dont nous collectons, utilisons et/ou partageons les informations contenues dans les cookies, nous vous en informerons en affichant bien en évidence un avis des modifications sur le site Web. Nous vous recommandons de consulter cette page de temps en temps pour vous informer de tout changement dans cette politique en matière de cookies ou dans l'une de nos autres politiques.

<a href="#top">Retour au sommet</a></p>

{% endblock %}
