{% extends 'base-frontend.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}

<h1>A propos</h1>
<hr>
<p>Verex, Lda, est une société angolaise – Commerce Général et Prestation de Services Intégrés créée en 2008.
Verex exerce ses activités sur tout le territoire national avec son siège à Luanda.</p>
<hr>
<h3>Portofolio:</h3>

<ul>
    <ol>Design e implementação de Sistema de Gestão baseado nas normas ISO:
        <ol>- 9001</ol>
        <ol>- 14001</ol>
        <ol>- 45001</ol>
        <ol>- 26000</ol>
    </ol>
    <hr>
    <ol>Auditoria de Sistema (Auditor IRCA);</ol>
    <hr>
    <ol>Auditoria Interna e aos fornecedores.</ol>
    <hr>
    <ol>Développement et criation de applicativos web et mobile</ol>
</ul>
<hr>
<h3>Mission:</h3>
<p>Contribuer à l'organisation et à la croissance économique des entreprises angolaises et d'Afrique subsaharienne à travers la fourniture de services intégrés et la fourniture d'équipements et de matériels informatiques.</p>

<hr>
<h3>Vision:</h3>
<p>Être une entreprise de biens et services intégrés de choix et de bonne référence, reconnue pour la qualité des services et son engagement envers la satisfaction de ses clients et parties prenantes concernées.</p>

<hr>
<h3>Valores:</h3>
    <ol><i class="fa-solid fa-brain"></i>- Integridade</ol>
    <ol>- Qualidade</ol>
    <ol><i class="fa-duotone fa-display-chart-up"></i>- Compromisso</ol>
    <ol><i class="fa-sharp fa-solid fa-face-smile"></i>- Satisfação</ol>

{% endblock %}
