<!DOCTYPE html>

<title>Edit Contact</title>

{% block body %}
    <h1>Edit Contact</h1>

    {{ include('admin_contract/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_contract_index') }}">back to list</a>

    {{ include('admin_contract/_delete_form.html.twig') }}
{% endblock %}
