<!DOCTYPE html>

<title>New Contact</title>

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('admin_contract/_form.html.twig') }}

    <a href="{{ path('app_admin_contract_index') }}">back to list</a>
{% endblock %}
